<!DOCTYPE html>
<html>
<head>
    <title>Coordinator Dashboard</title>
</head>
<body>

<h2>Coordinator Dashboard</h2>

<a href="/logout">Logout</a>

<hr>

<h3>Student Records</h3>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Roll</th>
        <th>Dept</th>
        <th>Sem</th>
        <th>CGPA</th>
        <th>Attendance</th>
        <th>Update</th>
    </tr>

    {% for student in students %}
    <tr>
        <form method="POST" action="/update/{{ student['id'] }}">
            <td>{{ student["name"] }}</td>
            <td>{{ student["roll_no"] }}</td>
            <td>{{ student["department"] }}</td>
            <td>{{ student["semester"] }}</td>
            <td>
                <input type="number" step="0.01" name="cgpa" value="{{ student['cgpa'] }}" required>
            </td>
            <td>
                <input type="number" step="0.01" name="attendance" value="{{ student['attendance'] }}" required>
            </td>
            <td>
                <button type="submit">Update</button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
<h2>Certificate Validation</h2>

<table border="1">
<tr>
    <th>Student</th>
    <th>File</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for cert in certificates %}
<tr>
    <td>{{ cert["student_name"] }}</td>
    <td>{{ cert["file_name"] }}</td>
    <td>{{ cert["status"] }}</td>
    <td>
        <a href="/approve/{{ cert['id'] }}">Approve</a>
        <a href="/reject/{{ cert['id'] }}">Reject</a>
    </td>
</tr>
{% endfor %}
</table>


</body>
</html>
